node_modules/
.pnp
.pnp.js

dist/
build/
out/
*.tsbuildinfo

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!env.example

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
report.[0-9]*
*.pid
*.pid.lock
pids/

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
.history/

.idea/
*.iml

*.swp
*.swo
*.swn
*.sublime-workspace
*.sublime-project

.DS_Store
.AppleDouble
.LSOverride
._*
.Trashes

Thumbs.db
ehthumbs.db
Desktop.ini

*~

coverage/
.nyc_output/

.eslintcache
.stylelintcache
.prettiercache
/src/generated/prisma
